@use '../00-tokens' as *;

/*
 * Migrated section block(s) from archive-academy_stylesheet_2024.css.
 * Source remains unchanged until parity verification is complete.
 */

/* || TABLE SECTION */

/* Stacking Responsive Table */

/* th {
  text-transform: uppercase;
}

td:first-child {
  font-weight: bold;
}

.xmodule_display.xmodule_HtmlBlock table td, .xmodule_display.xmodule_HtmlBlock table th {
  margin: 0;
}

.table-bordered>:not(caption)>* {
  border-width: 0 0;
}

.xmodule_display.xmodule_HtmlBlock table td:not(:first-child) {
  border-left: 1px solid $acad-grayscale-50;
}

.xmodule_display.xmodule_HtmlBlock table tr:not(:first-child) td {
  border-top: 1px solid $acad-grayscale-50;
}

.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
}

.table-responsive-stack td,
.table-responsive-stack th {
  display: block;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .table-responsive-stack tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: block;
  }
  th {
    text-transform: uppercase;
  }

  /*  IE9 FIX   
  .table-responsive-stack td {
    float: left;
    width:100%;
  }
} */

/* 2 column with shorter left than right col */
.table-2col-smallLeft th,
.table-2col-even th,
.table-3col-even th,
.table-3col-smallLeft th,
.table-3col-smallRight th {
	text-align: center;
}

.table-2col-smallLeft th:first-child {
	width: 30%;
}

.table-2col-even th:first-child {
	width: 50%;
}

.table-3col-smallLeft th:first-child,
.table-3col-smallRight th:last-child,
.table-4col-smallLeft th:first-child,
.table-4col-smallRight th:last-child {
	width: 10%;
}

.table-4col-smallLeft tr td:first-child,
.table-4col-smallRight tr td:last-child {
	text-align: center;
}

/* Responsive 3 column grid */
.three-col-grid {
	display: grid;
	grid-template-columns: 20% 40% 40%;
}

.three-col-grid > div {
	display: flex;
	padding: 0.5em 1em;
	align-items: center;
}

.three-col-grid > div p {
	margin: 1em 0 !important;
}

.three-col-grid > div > div {
	margin: 0;
}

.three-col-grid > div:nth-child(n + 4):not(:nth-last-child(-n + 3)) {
	border-bottom: solid 1px;
	align-items: center;
}

@media (width <= 800px) {
	.three-col-grid {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.three-col-grid > div {
		display: flex;
		padding: 0.5em 0.2em;
		align-items: start;
	}

	.three-col-grid > div:nth-child(1) {
		display: none !important;
	}

	.three-col-grid > div:nth-child(3n) {
		border-left: none !important;
	}

	.three-col-grid > div p {
		margin: 0 0.5em !important;
	}

	.three-col-grid > div:nth-child(3n-2):not(:first-child) {
		grid-column: 1/3;
		border-bottom: solid 1px;
		margin-top: 1.5em;
	}

	.three-col-grid .image_card-container {
		min-width: unset !important;
	}

	.three-col-grid > div:nth-child(3n + 2),
	.three-col-grid > div:nth-child(3n + 3) {
		border-bottom: none !important;
	}
}
