/*
 * Central SCSS tokens and helpers.
 * Keep this file as declarations only (variables/maps/mixins/functions).
 */

/* Legacy repository token names (kept for backward compatibility). */
$acad-blue1: #0e1934;
$acad-blue2: #163f6c;
$acad-blue3: #6699cf;
$acad-blue4: #d6e8f2;
$acad-green1: #42757c;
$acad-green2: #5d9d93;
$acad-green3: #78c4ab;
$acad-green4: #e1f4ed;
$acad-orange1: #ce6042;
$acad-orange2: #f2a486;
$acad-yellow1: #eec899;
$acad-yellow2: #fce8bb;
$acad-gray1: #737783;
$acad-gray2: #b8b8bb;
$acad-gray3: #efefef;

/* Imported from parent application _variables.scss and prefixed with acad-. */
$acad-primary-0: #f3f7fa;
$acad-primary-50: #e3e7eb;
$acad-primary-100: #cad1d8;
$acad-primary-150: #b1bbc5;
$acad-primary-200: #99a4b1;
$acad-primary-250: #818d9d;
$acad-primary-300: #697689;
$acad-primary-350: #525f74;
$acad-primary-400: #3b485f;
$acad-primary-450: #24304a;
$acad-primary-500: #0e1934;
$acad-primary-550: #0d162e;
$acad-primary-600: #0b1429;
$acad-primary-650: #0a1224;
$acad-primary-700: #090f1f;
$acad-primary-750: #080d1a;
$acad-primary-800: #060b16;
$acad-primary-850: #050911;
$acad-primary-900: #04060c;
$acad-primary-950: #020408;
$acad-primary-1000: #000;
$acad-secondary-0: #f8fdff;
$acad-secondary-50: #e9f3f8;
$acad-secondary-100: #deedf5;
$acad-secondary-150: #d6e8f2;
$acad-secondary-200: #bad4e3;
$acad-secondary-250: #9ec0d4;
$acad-secondary-300: #85aec6;
$acad-secondary-350: #6a9bb7;
$acad-secondary-400: #4f88a8;
$acad-secondary-450: #35769a;
$acad-secondary-500: #1a628b;
$acad-secondary-550: #1a5c85;
$acad-secondary-600: #1a567f;
$acad-secondary-650: #194f78;
$acad-secondary-700: #194971;
$acad-secondary-750: #18436a;
$acad-secondary-800: #183d64;
$acad-secondary-850: #18365d;
$acad-secondary-900: #112743;
$acad-secondary-950: #0a1727;
$acad-secondary-1000: #000;
$acad-tertiary-0: #f4f9fb;
$acad-tertiary-50: #e8f5f6;
$acad-tertiary-100: #d4e8e8;
$acad-tertiary-150: #c6e0de;
$acad-tertiary-200: #b9d7d4;
$acad-tertiary-250: #aaceca;
$acad-tertiary-300: #9cc5c0;
$acad-tertiary-350: #8ebcb6;
$acad-tertiary-400: #7fb3ab;
$acad-tertiary-450: #71aaa1;
$acad-tertiary-500: #5d9d93;
$acad-tertiary-550: #548d84;
$acad-tertiary-600: #4a7d75;
$acad-tertiary-650: #416e67;
$acad-tertiary-700: #385f59;
$acad-tertiary-750: #30514c;
$acad-tertiary-800: #27423e;
$acad-tertiary-850: #1e3330;
$acad-tertiary-900: #152422;
$acad-tertiary-950: #0d1614;
$acad-tertiary-1000: #000;
$acad-grayscale-0: #fff;
$acad-grayscale-50: #e3e3e4;
$acad-grayscale-100: #cccccd;
$acad-grayscale-150: #b4b4b6;
$acad-grayscale-200: #9d9d9f;
$acad-grayscale-250: #868688;
$acad-grayscale-300: #79797b;
$acad-grayscale-350: #79797b;
$acad-grayscale-400: #737375;
$acad-grayscale-450: #6d6d6f;
$acad-grayscale-500: #676769;
$acad-grayscale-550: #616163;
$acad-grayscale-600: #5c5c5d;
$acad-grayscale-650: #575759;
$acad-grayscale-700: #525254;
$acad-grayscale-750: #4e4e4f;
$acad-grayscale-800: #49494a;
$acad-grayscale-850: #444445;
$acad-grayscale-900: #3f3f3f;
$acad-grayscale-950: #393939;
$acad-grayscale-1000: #333;
$acad-success-0: #fcfffc;
$acad-success-50: #eff8f0;
$acad-success-100: #d8edda;
$acad-success-150: #c4e4c8;
$acad-success-200: #b1dbb5;
$acad-success-250: #9dd2a3;
$acad-success-300: #89c991;
$acad-success-350: #76c07e;
$acad-success-400: #62b76c;
$acad-success-450: #4fae59;
$acad-success-500: #3ba547;
$acad-success-550: #359540;
$acad-success-600: #2f8439;
$acad-success-650: #297432;
$acad-success-700: #23632b;
$acad-success-750: #1e5324;
$acad-success-800: #18421c;
$acad-success-850: #123215;
$acad-success-900: #0c210e;
$acad-success-950: #061107;
$acad-success-1000: #000;
$acad-warning-0: #fffcf5;
$acad-warning-50: #fef5dd;
$acad-warning-100: #f9e8c0;
$acad-warning-150: #f9dcad;
$acad-warning-200: #f9d29d;
$acad-warning-250: #f9c78e;
$acad-warning-300: #f9bd7e;
$acad-warning-350: #f9b36f;
$acad-warning-400: #f8a458;
$acad-warning-450: #f79843;
$acad-warning-500: #f68d2e;
$acad-warning-550: #dd7f29;
$acad-warning-600: #c57125;
$acad-warning-650: #ac6320;
$acad-warning-700: #94551c;
$acad-warning-750: #7b4717;
$acad-warning-800: #623812;
$acad-warning-850: #4a2a0e;
$acad-warning-900: #311c09;
$acad-warning-950: #190e05;
$acad-warning-1000: #000;
$acad-error-0: #fff9fa;
$acad-error-50: #f8eaec;
$acad-error-100: #f2d5d9;
$acad-error-150: #ebbfc6;
$acad-error-200: #e5aab3;
$acad-error-250: #de95a0;
$acad-error-300: #d7808d;
$acad-error-350: #d16b7a;
$acad-error-400: #ca5567;
$acad-error-450: #c44054;
$acad-error-500: #bd2b41;
$acad-error-550: #aa273a;
$acad-error-600: #972234;
$acad-error-650: #841e2e;
$acad-error-700: #711a27;
$acad-error-750: #5f1621;
$acad-error-800: #4c111a;
$acad-error-850: #390d14;
$acad-error-900: #26090d;
$acad-error-950: #130407;
$acad-error-1000: #000;
$acad-background-primary: #f0f3f4;
$acad-background-secondary: #fff;
$acad-background-scrim: rgb(14 25 52 / 60%);
$acad-logo-academy-logo-01: #17365d;
$acad-logo-academy-logo-02: #2f7ebe;
$acad-logo-wgu-logo: #022a4d;
$acad-misc-blue-01: #6699cf;
$acad-misc-blue-02: #7db7ea;
$acad-misc-green-01: #42757c;
$acad-misc-green-02: #e1f4ed;
$acad-misc-orange-01: #fff7ef;

/* Legacy parity tokens used while migrating component files from raw CSS. */
$acad-legacy-navy-003057: #003057;
$acad-legacy-blue-005fcc: #005fcc;
$acad-legacy-blue-008aff: #008aff;
$acad-legacy-blue-6699ce: #6699ce;
$acad-legacy-blue-6695cb: #6695cb;
$acad-legacy-cyan-6bcbde: #6bcbde;
$acad-legacy-blue-4387ee: #4387ee;
$acad-legacy-indigo-1e40af: #1e40af;
$acad-legacy-slate-1f2933: #1f2933;
$acad-legacy-green-1f7a3f: #1f7a3f;
$acad-legacy-green-78c0a7: #78c0a7;
$acad-legacy-green-ace8cf: #ace8cf;
$acad-legacy-green-c3ecd0: #c3ecd0;
$acad-legacy-green-d4f4dd: #d4f4dd;
$acad-legacy-red-991b1b: #991b1b;
$acad-legacy-red-b35238: #b35238;
$acad-legacy-red-fde2e2: #fde2e2;
$acad-legacy-red-f7caca: #f7caca;
$acad-legacy-blue-c7dcfa: #c7dcfa;
$acad-legacy-blue-dbeafe: #dbeafe;
$acad-legacy-blue-d2e4ee: #d2e4ee;
$acad-legacy-blue-d6e1ec: #d6e1ec;
$acad-legacy-blue-d7e2ea: #d7e2ea;
$acad-legacy-blue-c9d6e3: #c9d6e3;
$acad-legacy-border-ced5d6: #ced5d6;
$acad-legacy-border-dee2e6: #dee2e6;
$acad-legacy-border-e0e0e0: #e0e0e0;
$acad-legacy-neutral-555: #555;
$acad-legacy-neutral-666: #666;
$acad-legacy-neutral-888: #888;
$acad-legacy-neutral-eee: #eee;
$acad-legacy-neutral-f1f1f1: #f1f1f1;
$acad-legacy-neutral-f4f8fa: #f4f8fa;
$acad-legacy-neutral-f5f5f5: #f5f5f5;
$acad-legacy-neutral-f5f8fa: #f5f8fa;
$acad-legacy-neutral-f9f9f9: #f9f9f9;
$acad-legacy-neutral-fafafa: #fafafa;
$acad-legacy-neutral-fefefe: #fefefe;
$acad-legacy-neutral-e4e1e1: #e4e1e1;
$acad-legacy-green-f0f9f6: #f0f9f6;
$acad-legacy-overlay-blue-008aff05: #008aff05;
$acad-legacy-overlay-navy-0e193415: #0e193415;
$acad-legacy-overlay-navy-0e193424: #0e193424;
$acad-legacy-overlay-blue-163f6c33: #163f6c33;
$acad-legacy-overlay-black-00000033: #0003;
$acad-legacy-overlay-black-00000088: #0008;
$acad-legacy-overlay-f7f7f780: #f7f7f780;
$acad-legacy-overlay-gray-soft: rgb(132 129 129 / 10%);
$acad-legacy-overlay-blue-soft: rgb(214 232 242 / 20.5%);
